*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner .mainimage{
    width: 150vw;
    height: 100vh;
    background-position: cover;
    position: relative;
    filter: brightness(0.4);
}

.intro{
    width: 150vw;
    height: 100vh;
    background-position: cover;
    position: relative;
    filter: brightness(0.4);
}

.drop-menu{
    position: top 50%;
}