<section class="blog-news py-5 bg-light">
    <div class="container">
        <h2 class="text-center animate__animated animate__fadeInUp">Blog/News</h2>
        <p class="lead text-center animate__animated animate__fadeInUp">Welcome to our blog! Here you'll find the latest updates, industry news, and insights from our experts.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="blog-post animate__animated animate__fadeInLeft">
                    <h4>Post Title</h4>
                    <p>Post content goes here. This is a brief summary of the blog post. Click on the title to read more.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-post animate__animated animate__fadeInRight">
                    <h4>Post Title</h4>
                    <p>Post content goes here. This is a brief summary of the blog post. Click on the title to read more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
